{{> head }}
{{> navbar}}
<div class="table">
    <br><br>
    <div class="form-row">
        <div class="col-md-2"></div>
        <div class="col-md">
            <center>
                <h1>Bienvenido al Estacionamiento Web</h1>
            </center>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{{> footer }}